body {
    display: flex;
    flex-direction: column;
}

.vertical{
    display: flex;
    flex-direction: column;
}

.horizontal{
    display: flex;
    flex-direction: row;
}

.description {
    width: 500px;
}